page{
    height: 100%;
}
.add-page{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .van-radio {
        margin-bottom: 40rpx;
    }
    button{
        margin-top: 40rpx;
    }
}